*{
    background-color: #ff9b9b;
}

#Summary {
    color: #ff1e00;
}

#AnthonyJohnson{
    color: #ff1e00;
}

#Education {
    color: #ff1e00;
}

#Work {
    color: #ff1e00;
}

h2 {
    color: #ff1e00;
}